{% extends 'base.jinja2' %}
{% block content %}
    {% if "/prov/" not in res %}
        <button class="btn btn-pill btn-success btn-lg" type="button" id="editButton">
            <span class="mr-1"><span class="fas fa-pen-fancy"></span></span>
            Edit
        </button>        
    {% endif %}
    <section class="section">
        <div class="container">
            <h1 class="mb-5" id="resName">{{res}}</h1>
            <h2 class="mb-5">Outgoing Links</h2>
                <table class ="sparqlResults table table-responsive shadow-soft rounded col-sm-11 mb-5">
                    <thead>
                        <tr>
                            <th id="outgoingPredicate">Predicate</th>
                            <th id="outgoingObject">Object</th>
                        </tr> 
                    </thead>  
                    <tbody>
                        {% for triple in response_outgoing["results"]["bindings"] %}
                            <tr>
                                <td headers="outgoingPredicate">{{triple["predicate"]["value"]}}</td>
                                {% if baseUri in triple["object"]["value"] %}
                                    <td headers="outgoingObject"><a href="" class="sparqlEntity">{{triple["object"]["value"]}}</a></td>
                                {% else %}
                                    <td headers="outgoingObject">{{triple["object"]["value"]}}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>     
                </table>
            <h2 class="mb-5">Incoming Links</h2>
                <table class ="sparqlResults table table-responsive shadow-soft rounded col-sm-11">
                    <thead>
                        <tr>
                            <th id="incomingSubject">Subject</th>
                            <th id="incomingPredicate">Predicate</th>
                        </tr> 
                    </thead>  
                    <tbody>
                        {% for triple in response_incoming["results"]["bindings"] %}
                            <tr>
                                {% if baseUri in triple["subject"]["value"] %}
                                    <td headers="incomingSubject"><a href="" class="sparqlEntity">{{triple["subject"]["value"]}}</a></td>
                                {% else %}
                                    <td headers="incomingSubject">{{triple["subject"]["value"]}}</td>
                                {% endif %}
                                <td headers="incomingPredicate">{{triple["predicate"]["value"]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>     
                </table>
        </div>
    </section>
    <!-- Responsible agent modal content -->
    <div class="modal fade" id="modalResponsibleAgent" tabindex="-1" role="dialog" aria-labelledby="modalResponsibleAgent" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="card-header text-center pb-0">
                            <h2 class="mb-0 h5">Please specify your ORCID identifier</h2>                               
                        </div>
                        <div class="card-body">
                            <div id="invalidOrcid" class="alert alert-danger shadow-soft" role="alert" hidden>
                                <span class="alert-inner--icon"><span class="fas fa-exclamation-circle"></span></span>
                                <span class="alert-inner--text">The specified ORCID is invalid, please try again.</span>
                            </div>
                            <form>
                                <!-- Form -->
                                <div class="form-group">
                                    <label for="inputResponsibleAgent">ORCID</label>
                                    <div class="input-group mb-4">
                                        <input class="form-control" id="inputResponsibleAgent" type="text" value="https://orcid.org/0000-0002-8420-0696" aria-label="input responsible agent" required>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-block btn-primary mt-5" id="submitResponsibleAgent">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Responsible agent modal content -->
    <!-- Create entity modal content -->
    <div class="modal fade" id="modalCreateEntity" tabindex="-1" role="dialog" aria-labelledby="modalCreateEntity" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="card-header text-center pb-0">
                            <h2 class="mb-0 h5">Create triple</h2>                               
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <!-- Form -->
                                <div class="form-group">
                                    <label for="createSubject">Subject</label>
                                    <div class="input-group mb-4">
                                        <input class="form-control" id="createSubject" value="{{res}}" type="text" aria-label="create subject">
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="createPredicate">Predicate</label>
                                        <div class="input-group mb-4">
                                            <input class="form-control" id="createPredicate" placeholder="" type="text" aria-label="create predicate" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="form-group">
                                        <label for="createObject">Object</label>
                                        <div class="input-group">
                                            <input class="form-control" id="createObject" placeholder="" type="text" aria-label="create object" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-block btn-primary mt-5" id="submitCreate">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Create entity modal content -->
{% endblock %}