[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sparqlwrapper = "*"
rdflib = "*"
requests = "*"
oc-ocdm = {path = "./../oc_ocdm-5.0.0.tar.gz"}

[dev-packages]

[requires]
python_version = "3.8"
