[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sparqlwrapper = "*"
rdflib = "*"
requests = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
wtforms = "*"
flask-bootstrap = "*"
oc-ocdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
